In [2]:
def greeting1(name='익명'):
    print(f'안녕 나는 {name}이야.')
    
greeting1('바ㅣ보')

안녕 나는 바ㅣ보이야.

In [14]:
def my_sum(*args):
    return int(args + args)

my_sum(1,2)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

In [15]:
#위치 인자와 키워드 인자
#위치 인자는 걍 def ~~(a, b)
#위에서 ~~(1, 2) 순서대로 넣는 거고
#키워드 인자는 지가 직접 넣어주는거

In [18]:
def students(*args):
    for student in args:
        print(student)
    
students('원앙', '보민')

원앙
보민

In [29]:
def my_max(*args):
    max_number = 0
    for number in args:
        if number > max_number:
            max_number = number
            
    return max_number

In [30]:
my_max(10, 20, 30, 50)

50

In [33]:
def my_url(**kwargs):
    url = 'https://api.go.kr'
    
    dict_items = kwargs.items()
    
    for name, value in dict_items:
        url += f'={value}&'
        
    return url

my_url(sidoname='서울', key='asdf')

'https://api.go.kr=서울&=asdf&'

In [35]:
def fact(n):
    result = 1
    
    while n > 1:
        result *= n
        n -= 1
    return result
fact(5)

120

In [36]:
def factorial(n):
    if n == 1:
        # base case...
        return 1
    else:
        return n * factorial(n-1)

In [38]:
factorial(5)

120

In [39]:
#.find(x) 는 x의 첫번째 위치를 반환하는데 없으면 -1을 반환함
#.index(x)는 x의 첫번째 위치를 반환하지만 없으면 오류를 발생

In [44]:
csv = '1a 2a 3a'
csv.split('a')

['1', ' 2', ' 3', '']

In [45]:
a = {'a':1, 'a':2, 'b':3}
print(a)

{'a': 2, 'b': 3}

In [46]:
print([0] + [0] + [0] + [0])

[0, 0, 0, 0]

In [47]:
location = ['서울', '대전', '구미', '광주', '전주', '파주', '나주', '아리송']
print(location[0:8:4])
print(location[8:4:-1])

['서울', '전주']
['아리송', '나주', '파주']